<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase}}!
  </h1>
</div> -->

<!-- Type Your Name Here:<br> <input type="text" #txtName placeholder="Type here" (keyup)="0"/>
<br>
Your Name is {{txtName.value}} -->

<div style="color:palegreen; background-color: black; padding: 10px">
  <h2 class="text-center" >User Management App..</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
     <img src="../assets/images/logo.jpg" alt="image not found" style="margin-top:50px">
    </div>
  </div>

  <div>
    <footer>
      <span class="text-danger"><strong>This site is copyright &copy; to LTI.
        All rights are reserved here.
      </strong></span>
    </footer>
  </div>
</div>




