<br><br>
<div class="col-md-6 col-md-offset-2">
    <h3>Add User</h3>
    <br>
    <!-- Design login form -->
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstname" />
  
        <div *ngIf="submitted && addForm.controls.firstName.errors" class="error">
          <div class="text-danger" *ngIf=" addForm.controls.firstName.errors.required">First Name required..</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" id="lastname" />
  
        <div *ngIf="submitted && addForm.controls.lastName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.lastName.errors.required">Last Name required..</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" formControlName="email" id="email" />
  
        <div *ngIf="submitted && addForm.controls.email.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.email.errors.required">Email required..</div>
          <div class="text-danger" *ngIf="addForm.controls.email.errors.email">Invalid Email..</div>
        </div>
        
           
         
      </div>
  
      <button class="btn btn-success">Save</button>&nbsp;&nbsp;
      <button class="btn btn-danger" type="reset">Cancel</button>&nbsp;&nbsp;
      <a class="btn btn-warning" [routerLink]="['/list-user']" style="color:white">Back to list</a>&nbsp;&nbsp;
  
      <br><br>    
    </form>
  </div>